.container {
  min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
  border-radius: 50%;
}

.lighter {
  font-weight: lighter;
}

.title {
  text-align: center;
}
