.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.online {
    background-color: #3BA55D;
}

.offline {
    background-color: #747F8D;
}